.casesTable{
    .caseCommentsBox{
        width: 35% !important;
    }
    .noWrapContent{
        white-space: nowrap;
    }
    .caseComments{
        max-width: 100%;
        max-height: 150px;
        @include numberOfLines;
        // text-overflow: ellipsis;
    }
    .caseAttachments{
        a{
            color: #0C0C0C;
            text-decoration: none;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                right: 0;
                bottom: -3px;
                width: 100%;
                height: 1px;
                background-color: #0C0C0C;
                transform: scaleX(1);
                transition: all 0.4s ease-in-out;
            }
            &:hover{
                &::after{
                    transform: scaleX(0);
                }
            }
        }
    }
}