.formContent {
  .formBox {
    margin-bottom: 1.5rem;
    .formBoxHeader {
      margin-bottom: 1.5rem;
      .formBoxTitle {
        @include flexRow;
        font-size: 16px;
        font-family: CairoSB;
        color: $customBlue;
        .formNumber {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: $white;
          background: $customBlue;
          @include flexRow;
          justify-content: center;
          font-size: 12px;
          margin-inline-end: 0.5rem;
        }
      }
    }
    .formElements {
      margin: 0 1.5rem;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #ccd6e3;
      .customFormGroup {
        margin-bottom: 1.25rem;
      }
      .toolsBox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        // .tool {
        //     width: calc(100% / 4);
        //     margin-bottom: 1rem;
        // }
        .addNewToolBtn {
          width: 25%;
          height: 56px;
          cursor: pointer;
          display: none;
          .addNewToolText {
            @include flexRow;
            justify-content: center;
            width: calc(100% - 1rem);
            height: 100%;
            border: 2px dashed $customBlue;
            border-radius: 5px;
            i {
              font-size: 16px;
              color: $customBlue;
              margin-inline-end: 0.4rem;
            }
            span {
              color: $customBlue;
              font-size: 13px;
              font-family: CairoB;
            }
          }
        }
        .noEquipments {
          @include flexRow;
          justify-content: center;
          width: 100%;
          background-color: #efefef;
          padding: 1.2rem;
          font-family: CairoSB;
          font-size: 13px;
          border-radius: 5px;
        }
      }
      .addToolHiddenBox {
        display: none;
        margin-bottom: 1.25rem;
      }
      .feildInfoBox {
        @include flexRow;
        justify-content: space-between;
        .metaDataSpan {
          color: #707070;
          font-size: 13px;
          font-family: CairoSB;
          margin-bottom: 0.5rem;
        }
      }
      .fileBox {
        @include flexCol;
        height: 115px;
        border-radius: 4px;
        background-color: #fafafa;
        border: 2px dashed #707070;
        padding: 1.5rem 1rem;
        position: relative;
        .inputFileBox {
          @include flexCol;
          align-items: center;
          img {
            margin-bottom: 0.5rem;
          }
          .dragDropFilesLabel {
            // @include flexRow;
            text-align: center;
            font-size: 13px;
            font-family: CairoSB;
            color: #0c0c0c;
            margin-bottom: 0 !important;
            a {
              text-decoration: none;
              margin-inline-start: 0.25rem;
              color: #3c62c4;
            }
          }
          .attachFilesInput {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }
      }
      .dropFilesArea {
        @include flexCol;
        border-radius: 4px;
        background-color: #fafafa;
        border: 2px dashed #707070;
        padding: 0.75rem;
        margin-top: 1rem;
        display: none;
        opacity: 1 !important;
        max-height: 175px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 6px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: $customBlue;
          border-radius: 5px;
          border: 1px solid $customBlue;
        }
      }
      .ShowOnMapBox {
        display: none;
        .coordinatesMap {
          height: 300px;
          border: 2px solid #efefef;
          border-radius: 5px;
          .embed-container {
            position: relative;
            padding-bottom: 0;
            height: 100%;
            max-width: 100%;
            & iframe,
            & object {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
            small {
              position: absolute;
              z-index: 40;
              bottom: 0;
              margin-bottom: -15px;
            }
          }
        }
      }
      .tractorBox,
      .BonesBox {
        display: none;
      }
      .formSectionLabel {
        @include flexRow;
        font-size: 14px;
        font-family: CairoB;
        margin: 1rem 0;
        &.greenSectionLabel {
          color: $customGreen;
        }
        &.blueSectionLabel {
          color: $customBlue;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
      .formElements {
        border-bottom: none;
      }
    }
  }
}
