.customInput {
    height: 56px;
    @include customFormElements;
    &:focus {
        border: 2px solid $customBlue !important;
    }
    &::placeholder {
        color: #939393;
    }
    &.timeInput {
        position: relative;
        text-align: right;
        // -webkit-appearance: none;
        // appearance: none;
        &::-webkit-calendar-picker-indicator{
            display:flex;
            position:absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    &.disabled {
        background-color: #EFEFEF !important;
    }
    &.greenCustomInput{
        &:focus {
            border: 2px solid $customGreen !important;
        }
    }
}

.inputIconBox {
    position: relative;
    .customInput {
        padding: 1rem 1rem 1rem 2.25rem;
    }
    i {
        @include inputSpanAndIcon;
        color: #9A999B;
    }
    span{
        @include inputSpanAndIcon;
        color: $white;
        font-family: Cairo;
        font-size: 13px;
    }
}
.filterBox {
    .form-control{
        height: 42px;
        background-color: white;
        border-radius: 2px;
        padding: 0.25rem 0.75rem !important;
        // font-size: ;
        transition: all .4s ease-in-out;
    }
    &.blueFilterBox{
        .form-control{

            border: 1px solid $customBlue !important;
            &:hover {
                border: 1px solid $customBlue !important;
            }
            &:focus, &:active {
                border: 2px solid $customBlue !important;
            }
        }   
    }
    &.greenFilterBox{
        .form-control{
            border: 1px solid $customGreen !important;
            &:hover {
                border: 1px solid $customGreen !important;
            }
            &:focus, &:active {
                border: 2px solid $customGreen !important;
            }
        }   
    }
}