.track-history-modal{
    .modal-content{

        border-radius: 3px 3px 0px 0px;
        box-shadow: 0px 3px 6px #00000029;
    }
    border: 0;
    .modal-header{
        background-color: $customGreen;
        font-size: 16px;
        font-weight: 600;
        padding: 20px 34px;
        display: block!important;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 3px 3px 0px 0px;
        .modal-title-style{
            text-align: right;
            color:#fff;
            margin: unset !important;
            display: block!important;
        }        
    }
    .modal-body{
        padding: 27px 0px;
    }
    @media (min-width: 1000px){
        .modal-dialog {
            max-width: 860px !important;        
        }
    }
}
