.modal {
  // .modal-content{
  //     overflow: hidden;
  // }
  &.generalPopupStyle {
    .modal-dialog {
      height: calc(100vh - 3rem);
      margin: 1.5rem auto;
      @include flexRow;
      justify-content: center;
      max-width: 75%;
      direction: rtl;
      .modal-content {
        height: 100%;
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        .modal-header {
          display: none !important;
        }
        .modal-body {
          direction: rtl;
          padding: 1rem;
          height: 100%;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 8px;
            background: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background: #efefef;
            border: 1px solid #efefef;
            border-radius: 5px;
          }
        }
        .modal-footer {
          display: none !important;
        }
      }
    }
  }
  &.detailsPopup {
    .popupHeader {
      @include flexRow;
      justify-content: space-between;
      background: $lightGreen;
      padding: 1.9rem;
      border-radius: 3px;
      // margin: 1rem;
      margin-bottom: 1.5rem;
      .violationsCode {
        @include flexRow;
        p {
          color: $customGreen;
          font-family: CairoB;
          font-size: 18px;
          margin-bottom: 0;
          margin-inline-end: 0.75rem;
        }
        .printBtn {
          cursor: pointer;
        }
      }
      .backBtn {
        .close {
          a {
            color: #6f8268;
            font-family: CairoSB;
            text-decoration: none;
            i {
              margin-inline-start: 0.25rem;
            }
          }
        }
      }
    }
    .popupFormBoxHeader {
      display: none;
      margin: 1.5rem 0 0.75rem;
      .formBoxTitle {
        @include flexRow;
        font-size: 16px;
        font-family: CairoSB;
        color: $customGreen;
        .formNumber {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: $white;
          background: $customGreen;
          @include flexRow;
          justify-content: center;
          font-size: 12px;
          margin-inline-end: 0.5rem;
        }
      }
    }
    .popupBody {
      position: relative;
      padding: 1rem;
      background: #f9f9f9;
      // margin-top: 1.5rem;
      border-radius: 3px;
      .popupForm {
        padding: 1rem;
        .form-control {
          background-color: #efefef;
          color: #0c0c0c;
          &.greenInput {
            background-color: $customGreen;
            color: $white;
          }
          &.blueInput {
            background-color: $customBlue;
            color: $white;
          }
        }
        table {
          background-color: #efefef;
          font-family: CairoSB;
          th {
            height: 45px !important;
          }
          input {
            background-color: #efefef;
            color: #0c0c0c;
            font-family: CairoSB;
            height: 45px !important;
          }
        }
        .feildInfoBox {
          .titleLink {
            @include flexRow;
            margin-bottom: 0.5rem;
            text-decoration: none;
            font-size: 13px;
            font-family: CairoB;
            position: relative;
            transition: all 0.4s ease-in-out;
            i {
              margin-inline-end: 0.25rem;
            }
            &::after {
              @include linksAfter;
            }
            &.showOnMapBtn {
              display: none;
            }
            // &.showOnMapBtn,
            &.showFormula {
              color: #1779b9;
              &::after {
                background-color: #1779b9;
              }
            }
            //Temporary
            &.showFormula {
              display: none;
            }
            &.downloadAllFiles {
              color: $customGreen;
              &::after {
                background-color: $customGreen;
              }
            }
            //Temporary
            &.downloadAllFiles {
              display: none;
            }
            &:hover {
              &::after {
                transform: scaleX(0);
              }
            }
          }
        }
        .timeInput {
          direction: ltr;
        }
        .rejectReasonBox,
        .totalPriceBox,
        .confirmationAttachBox,
        .addConfirmationAttchBox,
        .CommiteeMembersBox,
        .approveViolation,
        .rejectViolation,
        .printPaymentForm,
        .payPartPrice,
        .payAllPrice,
        .confirmViolation {
          display: none;
        }
      }
      .showMoreDetails {
        @include flexRow;
        justify-content: center;
        position: absolute;
        bottom: 5px;
        right: 50%;
        transform: translateX(50%);
        cursor: pointer;
        .moreDetailsInnerBox {
          @include flexRow;
          background-color: transparent;
          padding: 0.5rem 1rem;
          img {
            margin-inline-end: 0.75rem;
            transition: all 0.4s ease-in-out;
          }
          p {
            margin-bottom: 0;
            font-size: 13px;
            font-family: CairoSB;
            color: #666;
          }
        }
        display: none;
      }
      // .hiddenDetailsBox{
      //     display: none;
      // }
    }
    .paymentFormBody {
      padding: 1rem;
      border: 2px solid #efefef;
      border-radius: 5px;
      .popupForm {
        padding: 1rem;
        .disabledInput {
          background-color: #efefef;
          color: #0c0c0c;
        }
        .fileBox {
          height: 56px;
          min-height: 56px;
          padding: 1rem;
          .inputFileBox {
            @include flexRow;
            justify-content: space-between;
            img {
              margin-bottom: 0;
            }
            .dragDropFilesLabel {
              a {
                color: $customGreen;
              }
            }
          }
        }
        // .actualPayedPriceBox,.actualRemainigPriceBox {
        //     display: none;
        // }
      }
    }
    &.blueHeaderPopup {
      .popupHeader {
        background: $lightBlue;
        .violationsCode {
          @include flexRow;
          p {
            color: $customBlue;
          }
        }
        .backBtn {
          .close {
            a {
              color: rgba(8, 58, 119, 0.65);
            }
          }
        }
      }
    }
  }
  &.greenPopup {
    .popupHeader {
      background-color: $customGreen;
      padding: 1.5rem;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      .violationsCode {
        p {
          color: $white;
          margin-bottom: 0;
          font-size: 18px;
          font-family: CairoB;
        }
      }
    }
  }
  &.bluePopup {
    .popupHeader {
      background-color: $customBlue;
      padding: 1.5rem;
      .violationsCode {
        p {
          color: $white;
          margin-bottom: 0;
          font-size: 18px;
          font-family: CairoB;
        }
      }
    }
  }
  &.statusPopup {
    .modal-dialog {
      max-width: 45%;
      .modal-content {
        height: fit-content;
        padding: 0;
        .modal-body {
          padding: 0;
          .row {
            margin: 0;
          }
          .popupBody {
            padding: 2rem 5rem;
            .popupContent {
              width: 100%;
              @include flexRow;
              justify-content: center;
              margin-bottom: 1.75rem;
              .popupMessage {
                font-size: 20px;
                font-family: CairoSB;
                color: #000;
                margin-bottom: 0;
                text-align: center;
                line-height: 2;
              }
            }
          }
        }
      }
    }
  }
  &.editPopup {
    .modal-dialog {
      max-width: 60%;
      .modal-content {
        height: fit-content;
        padding: 0;
        .modal-body {
          padding: 0;
          .row {
            margin: 0;
          }
          .popupBody {
            padding: 2rem;
            .addCaseAttachComments {
              height: 120px;
              &:focus {
                border: 2px solid $customGreen !important;
              }
            }
            .fileBox {
              height: 120px;
            }
            .customInput {
              // background-color: #EFEFEF;
              &.disabled {
                color: #000;
              }
              &:focus {
                border: 2px solid $customGreen !important;
              }
            }
          }
        }
      }
    }
  }
  &.paymentFormDetailsPopup {
    .popupSectionWrapper {
      position: relative;
      background-color: #f5f5f5;
      padding: 1.2rem;
      margin-bottom: 1.2rem;
      z-index: 1;
      .WaterMark {
        z-index: -1;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        img {
          max-width: 100%;
        }
      }
      &:first-child {
        .WaterMark {
          width: 25%;
        }
      }
      &:last-child {
        .WaterMark {
          width: 35%;
        }
      }
      .formTitle {
        @include flexRow;
        justify-content: center;
        font-size: 14px;
        font-family: CairoB;
        color: #000;
        margin-bottom: 0.5rem;
      }
      .popupHeader {
        margin-bottom: 1rem;
        .violationsMetaBox {
          padding: 0.5rem;
          background-color: $white;
          border: 2px solid $customGreen;
          border-radius: 3px;
          color: $customGreen;
          font-family: CairoB;
          font-size: 14px;
          @include flexRow;
          justify-content: space-between;
          .violationCode {
            margin-bottom: 0 !important;
          }
          .violationPrintTime {
            margin-bottom: 0;
            display: none;
          }
        }
      }
      .popupBody {
        .popupForm {
          .formElements {
            margin: 0 1rem;
          }
          .customFormGroup {
            margin-bottom: 0.75rem !important;
          }
          .customLabel {
            margin-bottom: 0.25rem !important;
            color: #000;
          }
          .inputIconBox {
            .currency {
              font-size: 10px !important;
              color: #000 !important;
              font-family: CairoSB !important;
            }
          }
          .form-control {
            background-color: $white;
            color: #000;
          }
          .customInput {
            height: 40px !important;
            padding: 0.25rem 0.5rem !important;
          }
          .payRowData {
            margin-bottom: 0.5rem;
            .customFormGroup {
              margin-bottom: 0 !important;
            }
            .headOfSection {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              font-size: 14px;
              font-family: CairoB;
              padding: 0 10px;
              .SectionTitle {
                margin-bottom: 0 !important;
              }
            }
            .hint {
              font-size: 13px;
              font-family: CairoSB;
              font-style: italic;
              color: #000;
              margin-inline-start: 0.2rem;
            }
            .instructionsBox {
              @include flexCol;
              justify-content: flex-end !important;
              height: 100% !important;
              .paymentInstructions {
                margin-bottom: 0 !important;
                margin-top: 0.35rem;
                font-family: CairoB;
                font-size: 13px;
                color: #000;
                .payPeriod {
                  font-family: CairoB;
                  font-style: italic;
                  text-decoration: underline;
                  color: #000;
                }
                &:first-child {
                  margin-top: 0 !important;
                }
              }
            }
          }
          .toolsBox {
            // background-color: #efefef;
            .tool {
              position: relative;
              width: calc((100% / 5) - 0.2rem);
              margin-inline-end: 0.2rem;
              margin-bottom: 0.2rem;
              label {
                height: 40px;
                padding: 0.25rem 0.5rem;
                .checkmark {
                  background-color: $white;
                  border: none;
                  border-radius: 2px;
                }
                .checktext {
                  color: #000;
                }
              }
              &:nth-child(5n) {
                width: calc(100% / 5);
                margin-inline-end: 0;
              }
            }
          }
          .coordinatesTable {
            background: $white;
            tr {
              &:first-child {
                th {
                  height: 40px;
                  font-size: 13px;
                  font-family: CairoSB;
                }
              }
              th {
                &:first-child {
                  width: 40px;
                  font-size: 13px;
                  font-family: CairoSB;
                }
              }
              td {
                input {
                  height: 40px;
                  color: #000;
                  font-family: CairoSB;
                  &:nth-child(1) {
                    width: 25% !important;
                  }
                  &:nth-child(2) {
                    width: 25%;
                  }
                  &:nth-child(3) {
                    width: 45%;
                  }
                }
              }
            }
          }
          .coordinatesMap {
            height: 207px;
            min-height: 207px;
            max-height: 250px;
            background-color: $white;
          }
          .payFormCommentsBox {
            @include flexCol;
            // align-items: flex-start;
            label {
              margin-inline-end: 0.5rem;
            }
            textarea {
              width: 100%;
              height: 80px;
              background-color: $white;
            }
          }
          .managerSignatureBox {
            @include flexCol;
            p {
              margin-bottom: 0;
              font-size: 13px;
              font-family: CairoB;
            }
          }
        }
      }
    }
    .cutPaperBox {
      position: relative;
      margin-bottom: 1.2rem;
      border-bottom: 2px dashed #707070;
      .cutLine {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    // .printConfirmationForm{
    //     display: none;
    // }
  }
  &.attachPopup {
    height: 100vh;
    .modal-dialog {
      max-width: 70% !important;
      .modal-content {
        height: 85%;
        .modal-body {
          overflow: unset;
          form {
            height: 100%;
          }
        }
      }
    }
    .popupHeader {
      &.attachPopup {
        @include flexRow;
        justify-content: space-between;
        .closeCaseAttachPopup {
          color: $white;
          font-size: 20px;
          cursor: pointer;
          margin-inline-end: 0.25rem;
        }
      }
    }
    .popupBody {
      padding: 1.5rem 1.5rem 1.5rem 1rem !important;
      height: 100%;
      .popupTableBox {
        height: calc(100% - 4.5rem);
        overflow: auto;
        table.table {
          padding-inline-end: 0.35rem;
          thead {
            th {
              padding: 1.25rem 0.75rem;
              font-family: CairoB;
              font-size: 15px;
              color: #0c0c0c;
              &.tableCounter {
                width: 3% !important;
              }
              &.attachBoxHeader {
                width: 35% !important;
              }
            }
          }
          tbody {
            tr {
              td {
                padding: 1.25rem 0.75rem;
                border-bottom: 1px solid rgba(112, 112, 112, 0.2);
                font-family: CairoSB;
                font-size: 13px;
                color: #000;
              }
              &:last-child {
                td {
                  border-bottom: none;
                }
              }
            }
          }
        }
        .attachCount {
          font-family: CairoB;
          font-size: 13px;
        }
        .attachFiles {
          @include flexRow;
          flex-wrap: wrap;
          .attchedFile {
            margin-inline-end: 0.35rem;
            height: 42px;
            margin-bottom: 0.35rem;
            border-radius: 2px;
            padding: 0.5rem !important;
          }
        }
        .attachUploadDate {
          direction: ltr;
          text-align: right;
        }
        .attachComments {
          // max-width: 100%;
          // max-height:80px;
          // @include numberOfLines;
          // max-height: 100px;
          line-height: 20px;
        }
        &::-webkit-scrollbar {
          width: 6px;
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background: #efefef;
          border-radius: 5px;
          border: 1px solid #efefef;
        }
      }
    }
  }
  &.caseDetailsPopup {
    .modal-dialog {
      max-width: 75%;
      .modal-content {
        height: fit-content;
        padding: 0;
        .modal-body {
          padding: 0;
          .row {
            margin: 0;
          }
          .popupHeader {
            .popupTitleBox {
              @include flexRow;
              justify-content: space-between;
              .CaseNumberBox {
                @include flexRow;
                .caseNumber {
                  margin-bottom: 0;
                  margin-inline-end: 0.75rem;
                  color: $white;
                  font-family: CairoB;
                  font-size: 18px;
                }
                .printBtn {
                  cursor: pointer;
                }
              }
              .closeCaseDetailsPopup {
                color: $white;
                font-size: 20px;
                cursor: pointer;
                margin-inline-end: 0.25rem;
              }
            }
          }
          .popupBody {
            padding: 2rem;
            .formBoxTitle {
              color: $customGreen;
              .formNumber {
                background: $customGreen;
              }
            }
            .customInput {
              background-color: #efefef;
              color: #000;
            }
            .formContent {
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }
  &.petitionPopup
  // ,&.approvePetitionPopup
  {
    .modal-dialog {
      max-width: 75%;
      .modal-content {
        height: fit-content;
        padding: 0;
        .modal-body {
          padding: 0;
          .row {
            margin: 0;
          }
          .popupHeader {
            .popupTitleBox {
              @include flexRow;
              justify-content: space-between !important;
            }
            .PetitionNumberBox {
              @include flexRow;
              .PetitionNumber {
                margin-bottom: 0;
                margin-inline-end: 0.75rem;
                color: $white;
                font-family: CairoB;
                font-size: 18px;
              }
              .printBtn {
                cursor: pointer;
              }
            }
            .closePetitionDetailsPopup {
              color: $white;
              font-size: 20px;
              cursor: pointer;
              margin-inline-end: 0.25rem;
            }
          }
          .popupBody {
            padding: 2rem;
            .formBoxTitle {
              color: $customGreen;
              .formNumber {
                background: $customGreen;
              }
            }
            .customInput {
              background-color: #efefef;
              color: #000;
            }
            .formContent {
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }
}

.singleFile {
  width: 100%;
  margin-inline-end: 0 !important;
  margin-bottom: 0 !important;
}
.multibleFiles {
  width: calc((100% / 2) - 0.35rem) !important;
  margin-bottom: 0 !important;
  &:nth-child(2n) {
    width: calc(100% / 2) !important;
    margin-inline-end: 0 !important;
  }
}
.manyFiles {
  width: calc((100% / 3) - 0.35rem) !important;
  &:nth-child(3n) {
    width: calc(100% / 3) !important;
    margin-inline-end: 0 !important;
  }
}

.rotateDetailsIcon {
  transform: rotate(180deg);
}
.displayBlock {
  display: block !important;
}
