@font-face {
    font-family: Cairo;
    src: url("../fonts/Cairo-Regular.ttf");
}

@font-face {
    font-family: CairoM;
    src: url("../fonts/Cairo-Medium.ttf");
}

@font-face {
    font-family: CairoSB;
    src: url("../fonts/Cairo-SemiBold.ttf");
}

@font-face {
    font-family: CairoB;
    src: url("../fonts/Cairo-Bold.ttf");
}