#s4-workspace {
  direction: rtl !important;
  font-family: Cairo;
  overflow-x: hidden;
  background-color: #f6f6f6;
  #s4-bodyContainer {
    height: 100%;
    padding-bottom: 0 !important;
    > div {
      height: 100%;
      > span {
        height: 100%;
        display: block;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 6px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    // background: $customGreen;
    // border: 1px solid $customGreen;
  }
  &.greenScroller {
    &::-webkit-scrollbar-thumb {
      background: $customGreen;
      border: 1px solid $customGreen;
    }
  }
  &.blueScroller {
    &::-webkit-scrollbar-thumb {
      background: $customBlue;
      border: 1px solid $customBlue;
    }
  }
}

.mainContainer {
  width: 96%;
  height: 100%;
  margin: 0 auto;
}

.pageTitleBox {
  height: 88px;
  position: relative;
  .pageTitleImageBox {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
  }
  .pageNameBox {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .pageName {
      color: $white;
      font-size: 25px;
      font-family: CairoB;
      margin-bottom: 0 !important;
      padding-inline-start: 1rem;
    }
  }
}

.layoutRow {
  min-height: 100%;
  .col-md-3.customCol3 {
    padding-inline-end: 0;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.05);
  background-color: $white;
    /* height: 100%;
    position: sticky;
    top: 0; */
  }
  .col-md-9.customCol9 {
    padding-inline-start: 0;
    height: 100%;
  }
}

.ms-webpartzone-cell {
  margin: 0 !important;
  .ms-webpartzone-cell {
    margin: 0 !important;
  }
}

.contentContainer {
  background-color: $white;
  border-radius: 10px;
  margin: 1.5rem 0;
  min-height: calc(100vh - (140px + 70px + 85px + 3rem));
  // min-height: calc(100vh - (140px + 70px + 3rem));
  padding: 2rem 1.5rem;
  .dashBoardTable {
    // box-shadow: 2px 2px 10px rgba(0 0 0 /10%);
  }
}

.sweetStyle {
  font-family: CairoSB !important;
  .swal2-title {
    font-family: CairoB;
    padding: 0.5rem 1rem 0;
  }
}

#ms-designer-ribbon {
  // display: none;
}

#page {
  .navbar-fixed-top {
    display: none !important;
  }
}

.customeInputs {
  height: 47px;
  border-radius: 2px;
  border: none !important;
  padding: 9px !important;
  color: #1f1f1f !important;
  font-family: "CairoM";
  direction: rtl !important;
  transition: all 0.4s ease-in-out;
  font-size: 15px;
}
.customeInputs::placeholder {
  font-size: 13px;
}
.customeInputs::placeholder {
  color: #aaa;
  font-size: 14px;
}

.checkboxInput label.customelabel.checkboxLabel {
  margin: 23px 0;
}
.checkboxInput span.checktext {
  margin: 1px 5px;
}

.checkboxInput input#unmarkedCheckbox:disabled {
  background-color: #e9ecef !important;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.exportBtn {
  margin-bottom: 1rem;
  padding: 5px 10px;
  min-width: 100px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.exportBtn.outlineGreenBtn, .exportBtn.customGreenBtn:hover {
  border: 1px solid $customGreen;
  color: $customGreen;
  background-color: #f1f5f2;
}
.exportBtn.outlineBlueBtn, .exportBtn.customBlueBtn:hover {
  border: 1px solid $customBlue;
  color: $customBlue;
  background-color: #eef1f6;
}