@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin customMenuLinks {
  margin: 0;
  font-size: 16px;
  font-family: Cairo;
  color: #0c0c0c;
  transition: all 0.4s ease-in-out;
}

@mixin customFormElements {
  font-size: 13px;
  font-family: CairoSB;
  border-radius: 5px;
  padding: 1rem !important;
  outline: none;
  border: 2px solid #efefef !important;
  box-shadow: none !important;
  color: #0c0c0c;
  transition: all 0.4s ease-in-out;
}

@mixin customCoordBtns {
  @include flexRow;
  height: 56px;
  justify-content: center;
  font-family: CairoB;
  text-decoration: none;
  color: $customBlue;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

@mixin customLoaders {
  @include flexRow;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  gap: 8px;
  visibility: hidden;
  opacity: 0;
}

@mixin customLoaderAnimation {
  width: 6px;
  height: 70px;
  animation: scale 0.9s ease-in-out infinite;
  &:nth-child(2) {
    animation-delay: -0.8s;
  }
  &:nth-child(3) {
    animation-delay: -0.7s;
  }
  &:nth-child(4) {
    animation-delay: -0.6s;
  }
  &:nth-child(5) {
    animation-delay: -0.5s;
  }
}

@mixin linksAfter {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transition: all 0.4s ease-in-out;
}

@mixin inputSpanAndIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

@mixin numberOfLines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
